httpx
fastapi==0.115.6
uvicorn[standard]==0.32.1
requests==2.32.3
pydantic==2.9.2
pydantic-settings==2.6.1
pandas

# For optional Hugging Face GGUF download script:
huggingface_hub==0.26.2
Jinja2

ollama
redis==5.2.0

# Deeplearning
torch
torchvision
Pillow

#chroma-db
chromadb==0.5.23
pymupdf
python-multipart
django-cors-headers
python-dotenv

sqlalchemy
pypdf
langchain-text-splitters
python-dotenv
sentence_transformers
tf-keras

aiomysql